{% extends "base.html" %}

{% load static %}

{% block title %}
My contacts
{% endblock %}


{% block content %}
<!-- Main Section -->
<div class="container">
  <h3 class="heading font-weight-light">Here are your contacts</h3>
  <hr />
</div>

<div class="container main-part">
  {% if contacts %}
  {% for contact in contacts %}
    {% include "partials/_card.html" %}
   <!-- Card for details ends -->
    {% endfor %}
    
  {% else %}
    <p class="d-block font-weight-light header my-2 mx-2">You have not saved any contacts yet!</p>
  {% endif %}
  
 

  
</div>
{% endblock %}