{% extends "base.html" %}

{% load static %}

{% block title %}
Search
{% endblock %}

{% block content %}
<!-- Main Section -->
<div class="container">
  <h3 class="heading font-weight-light">Search results for {{ search_term }}</h3>
  <hr />
</div>

<div class="container main-part">
  <!-- Card for details -->
  {% if contacts %}
  {% for contact in contacts %}
    {% include "partials/_card.html" %}
   <!-- Card for details ends -->
    {% endfor %}
    
  {% else %}
    <p class="d-block font-weight-light header my-2 mx-2">No contact matches your search</p>
  {% endif %}
  
 
</div>
<!-- Main Section ends-->
{% endblock %}